body {
  color: #444444;
  background-color: #AAAAAA;
  font-family: 'Questrial', sans-serif;

}
footer{
  bottom: 0
}

#timelineForm {
  background-color: #DDDDDD;
  padding: 5%;
  min-width: 815px


}

@media only screen and (max-width: 600px) {
  #timelineForm {
    min-width:0;
  }

  footer {
    display: none;
  }
  .chart_hist_container {
    margin-top: 10px
  }

  .hist_sectional {
    padding-left: 0 !important
  }
} /* MEDIA END */



.temp_hist {
  text-align: center;
  opacity: 0.4;
  padding-top: 40%
}

.hist_sectional {
  padding-left: 10px;
  padding-right: 0px
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #AAAAAA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDDDDD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DDDDDD;
}

.chat-inputter{
  padding-top: 10px;
  height: 50%;
  overflow:scroll;
  background: #EEEEEE;

}

.manual-button {
  margin-left: 10px
}

.hidden {
  display: none
}

.custom-msg-input {
  margin-left: 5px;
}

.msg-custom-form {
  margin-bottom: 5px;
}

.linkbar_link {
  padding-left: 15px;
  color: #333333;
}

.chat-msg {
   box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.5);
   padding: 10px;
   margin: 2px;
   word-wrap: break-word;
   border-radius: 5px;
   background-color: #EEEEEE;
}

.chat_hist {
  height: 100%;
  color: black;
  overflow-y: scroll;
  margin-right: 0px !important;
  word-wrap: normal;
  background-color: #CCCCCC;
  padding: 8px;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);

}

.anno_chart_real{
}

.chart_container {
  background-color: #CCCCCC;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);
  padding-top: 15px;
  text-align: center;
  min-height: 525px;

}

.chart_hist_container {
  height: 75%;
  max-height: 75%
}

.placeholder_chart {
  padding-top: 10%;
  opacity: 0.4;
  color: black;
  max-width: 400px;
  word-wrap: normal;
  margin: auto
}

.msg-annotation {
  cursor: pointer
}

.msg-annotation:hover {
  background-color: #fffeee
}

.msg_date {
  font-size: 10px;
}

.msg_author {
  font-weight: bold;
  font-size: 14px
}

.msg_content {
  font-size: 13px
}

.main-container {
  padding: 15px;
  padding-bottom: 100px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.top-title {
  padding-top: 5px;
  padding-left: 5%;
  padding-bottom: 1px;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);
  background-color: #DDDDDD;
  font-weight: bold;
}

#chart-sent-section {
  margin-top: 10px;
}

.logo-l {
  height: 40px
}
.logo-r {
  height: 40px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.selector {
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);
  padding: 15px;
  background-color: #CCCCCC;

}

.text-header {
  text-align: center;
  padding-top: 5px;
}

.sent_sec {
  background-color: #DDDDDD;
}

.share-container {
}

.share-icon {
  padding-left: 25px;
  color: #555555
}

.donate-link {
  color: white
}

.footer {
  position: relative;
  bottom: 0;
  padding: 25px;
  padding-top: 60px;
  height: 200px;
  background-color: #888888;
}

.social-footer {
  text-align: right
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}
